$dark: #1a1a1a;
$grey: #666666;
$white: #d3d0c8;
$red: #f2777a;
$magenta: #FF6AC1;
$violet: #cc99cc;
$blue: #6699cc;
$azure: #66cccc;
$green: #99cc99;
$yellow: #ebbd5b;
$orange: #f99157;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Fira+Mono");

// Contents
::selection {
  background: #333333;
}
::-moz-selection {
  background: #333333;
}
body {
  background: $dark;
  font-family: "Fira Mono", sans-serif;
  font-size: 16px;
  color: $white;
}
a {
  color: $yellow;
  &.link-block {
    display: inline-block;
    width: 100%;
    &:hover .card {
      background:lighten($dark, 2%);
    }
  }
}
a:hover {
  text-decoration: none;
  color: $yellow;
  opacity: 0.7;
}
h3 {
  color: $azure;
}
.text-red {
  color: $red;
}
ol,
ul {
  li {
    padding-bottom: 10px;
  }
}
code {
  color: $white;
  display: inline-block;
  padding: 2px 5px;
  background: darken($grey, 20%);
  border-radius: 5px;
}

.head {
  padding: 60px 0 30px;
  h1 {
    color: $yellow;
    position: relative;
    margin: 0 auto;
    border-right: 2px solid $dark;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }
  h2 {
    color: $grey;
  }
  .logo {
    margin-bottom: 40px;
    width: 200px;
    height: auto;
    box-shadow: 0 10px 60px #000;
    border-radius: 100%;
  }
  .gh-buttons {
    margin: 30px 0;
  }
}
.page {
  padding:40px 0 0;
  h4 {
    margin: 30px 0;
    color: $green;
  }
  &.selection {
    img {
      width: 60px;
      height: 60px;
      object-fit: contain;
      margin: 0 auto;
    }
    h3 {
      margin: 30px 0;
      font-size: 24px;
    }
    .card {
      padding: 20px;
      background: $dark;
      border: 1px solid $grey;
      text-align: center;
      margin-bottom: 30px;
      h3 {
        font-size:19px;
        margin-bottom:0;
      }
    }
  }
}
.palette {
  padding-top: 40px;
  text-align: center;
  width: 100%;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      width:5.55%;
      .box {
        height: 10px;
        border: 1px solid #3c3c3c;
        &.bg1 {
          background: $dark;
        }
        &.bg2 {
          background: $grey;
        }
        &.bg3 {
          background: $white;
        }
        &.bg4 {
          background: $red;
        }
        &.bg5 {
          background: $magenta;
        }
        &.bg6 {
          background: $violet;
        }
        &.bg7 {
          background: $blue;
        }
        &.bg8 {
          background: $azure;
        }
        &.bg9 {
          background: $green;
        }
        &.bg10 {
          background: $yellow;
        }
        &.bg11 {
          background: $orange;
        }
      }
    }
  }
}

/* Animation */
.anim-typewriter {
  animation: typewriter 0.8s steps(34) 1s 1 normal both,
    blinkTextCursor 700ms steps(34) 8 normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 150px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.5);
  }
  to {
    border-right-color: transparent;
  }
}

.foot {
  margin: 40px 0;
  color: $grey;
  .copy {
    margin: 40px 0 0;
    font-size: 13px;
  }
}
